<md-card>
  <style>
    .banner-title {
      padding: 16px 32px;
      text-align: left;
      margin: 0;
      width: 100%;
      box-sizing: border-box;
    }
  </style>

  <div class="ratio ratio-16-9" style="background-image: url('/images/index-banner.jpg'); background-size: cover;">
    <div class="ratio-content image-scrim-bottom" layout="column" layout-align="end center">
      <div class="banner-title" hide-sm show-gt-sm>
        <div class="md-display-4">欢迎!</div>
        <div class="md-display-2">这是 THSITLab 的主页</div>
      </div>
      <div class="banner-title" show-sm hide-gt-sm>
        <div class="md-display-3">欢迎!</div>
        <div class="md-headline">这是 THSITLab 的主页</div>
      </div>
    </div>
  </div>
  <md-card-content>
    <h3 class="md-headline">谁会需要640KB以上的内存呢？<small style="float: right; color: rgba(0,0,0,0.26);"> —— 比尔 大门</small></h3>
  </md-card-content>
</md-card>
<div class="slider-area">
  <div class="md-headline slider-title">特色项目</div>
  <slider>

    <md-card class="expandable" new-title="THSCSLab-Home" new-content="lab">
      <md-icon class="slider-item-top" md-font-library="material-icons">school</md-icon>
      <div class="slider-item-content">
        THSCSLab-Home
        <div class="project-owner">刘晓义</div>
        <div class="line-end"></div>
      </div>
      <div class="md-ripple-container"></div>
    </md-card>

    <md-card class="expandable" new-title="Optime" new-content="optime">
      <md-icon class="slider-item-top" md-font-library="material-icons">timer</md-icon>
      <div class="slider-item-content">
        Optime
        <div class="project-owner">刘晓义</div>
        <div class="line-end"></div>
      </div>
      <div class="md-ripple-container"></div>
    </md-card>

    <md-card class="expandable" new-title="THSITG-Home" new-content="thsitg">
      <md-icon class="slider-item-top" md-font-library="material-icons">memory</md-icon>
      <div class="slider-item-content">
        THSITG-Home
        <div class="project-owner">igaryhe</div>
        <div class="line-end"></div>
      </div>
      <div class="md-ripple-container"></div>
    </md-card>

    <md-card new-content="test" ng-repeat="i in [1,2,3,4]" md-ink-ripple>
      <md-icon class="slider-item-top" md-svg-icon="lab:logo"></md-icon>
      <div class="slider-item-content">
        Coming soon
        <div class="line-end"></div>
      </div>
      <div class="md-ripple-container"></div>
    </md-card>
  </slider>
</div>
