<md-dialog class="login-dialog" aria-label="登陆表单">
  <form>
    <div class="lab-dialog-header" layout="row">
      <span class="lab-dialog-title">
        {{state}}
      </span>
    </div>
    <md-dialog-content class="sticky-container">
      <md-list>
        <md-list-item>
          <p class="register-label">新用户?</p>
          <md-switch ng-model="isRegister" aria-label="Register" ng-change="stateChange(isRegister)"></md-switch>
        </md-list-item>
      </md-list>

      <md-input-container md-is-error="error.name">
        <label>用户名</label>
        <input ng-model="user.name">
        <div ng-messages="error.map">
          <div ng-message="empty-name" type="text">请输入用户名，么么哒~</div>
        </div>
      </md-input-container>
      <md-input-container md-is-error="error.passwd">
        <label>密码</label>
        <input ng-model="user.passwd" type="password">
        <div ng-messages="error.map">
          <div ng-message="empty-passwd">请输入密码，么么哒~</div>
          <div ng-message="invalid-credentials">啊咧，验证失败...</div>
        </div>
      </md-input-container>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <md-button type="submit" ng-click="proceed()" class="md-primary md-raised">{{state}}</md-button>
      <md-button class="md-raised" ng-click="cancel()">取消</md-button>
    </div>
  </form>
</md-dialog>
