<!DOCTYPE html>
<html lang="zh" ng-app="THSITLab">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
    <link rel="icon" href="/icons-img/logo.ico">
    <title><%= title %></title>
    <% include imports %>
  </head>
  <body layout="row" ng-controller="AppCtrl">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="main" md-is-locked-open="$mdMedia('gt-md')" md-swipe-left="toggleSidenav('main')">
      <md-toolbar class="md-primary md-whiteframe-z4">
        <div class="md-toolbar-tools">
          <h3 id="brand" class="md-title">
            <core-icon icon="lab:logo"></core-icon>
            <%= title %>
          </h3>
        </div>
      </md-toolbar>
      <md-content layout-padding ng-controller="NavMain">
        <md-button class="md-raised md-primary md-hue-2"  ng-click="close()" hide-gt-md>Close</md-button>
      </md-content>
    </md-sidenav>

    <md-content layout="column" flex layout-fill md-swipe-right="swipeRight($event)" class="md-primary md-hue-1">
      <md-toolbar class="md-primary md-whiteframe-z4">
        <div class="md-toolbar-tools">
          <paper-icon-button hide-gt-md bind-polymer icon="menu" ng-click="toggleSidenav('main')" id="menuBtn"></paper-icon-button>
          {{ pageTitle }}

          <span flex></span>

          <md-button class="md-raised md-accent md-hue-2" ng-click="userForm($event)">登陆</md-button>
        </div>
      </md-toolbar>

      <md-content class="cards md-primary md-hue-1" layout-padding>
        <md-card>
          <style>
            .banner-title {
              padding: 16px 32px;
              text-align: left;
              margin: 0;
              width: 100%;
              box-sizing: border-box;
            }
          </style>

          <div class="ratio ratio-16-9" style="background-image: url('/images/index-banner.jpg'); background-size: cover;">
            <div class="ratio-content image-scrim-bottom" layout="column" layout-align="end center">
              <div class="banner-title" hide-sm show-gt-sm>
                <div class="md-display-4">欢迎!</div>
                <div class="md-display-2">这是 THSITLab 的主页</div>
              </div>
              <div class="banner-title" show-sm hide-gt-sm>
                <div class="md-display-3">欢迎!</div>
                <div class="md-headline">这是 THSITLab 的主页</div>
              </div>
            </div>
          </div>
          <md-card-content>
            <h3 class="md-headline">谁会需要640KB以上的内存呢？<small style="float: right; color: rgba(0,0,0,0.26);"> —— 比尔 大门</small></h3>
          </md-card-content>
        </md-card>
        <slider>
          <md-card ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">{{i}}</md-card>
        </slider>
      </md-content>
    </md-content>
  </body>
</html>
