<!DOCTYPE html>
<html lang="zh" ng-app="THSITLab" ng-controller="AppCtrl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
    <link rel="icon" href="/icons/logo.ico">
    <title ng-bind-template="{{pageTitle}} | THSITG">Loading -> THSITG</title>
    <% include imports %>

    <script>
    $(document).ready(function() {
      angular.element("body").scope().contentPath = "<%= content %>";
      angular.element("body").scope().pageTitle = "<%= title %>";
    });
    </script>
  </head>
  <body layout="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="main" md-is-locked-open="$mdMedia('gt-md')" md-swipe-left="toggleSidenav('main')">
      <md-toolbar class="md-primary md-whiteframe-z4" show-gt-md hide>
        <div class="md-toolbar-tools">
          <h3 id="brand" class="md-title">
            <md-icon md-svg-icon="lab:logo"></md-icon>
            THSCSLab
          </h3>
        </div>
      </md-toolbar>
      
      <md-content ng-controller="NavMain">
        <div class="user-section ratio ratio-16-9">
          <div class="fade-img user-background ratio-content" style="background-image: url('{{user.featuredImgUrl}}');"></div>
          <div class="image-scrim-bottom dark ratio-content">
            <div class="fade-img user-avatar" style="background-image: url('{{user.avatarUrl}}');"></div>
            <div class="user-info md-body-1">{{user.name}}<br>{{user.email}}</div>
          </div>
        </div>
        <md-list>
          <md-list-item ng-click="openProfile()">
            <md-icon md-font-library="material-icons">face</md-icon>
            <p>Profile</p>
          </md-list-item>
          <md-divider></md-divider>
          <md-subheader>
            My Projects
          </md-subheader>
          <md-list-item ng-repeat="project in user.projects" ng-click="openProject('{{project.url}}')">
            <md-icon md-font-library="material-icons">{{project.logo}}</md-icon>
            <p>{{project.name}}</p>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item ng-click="openSetting()">
            <md-icon md-font-library="material-icons">settings</md-icon>
            <p>Settings</p>
          </md-list-item>
          <md-list-item ng-click="openAbout()">
            <md-icon md-font-library="material-icons">announcement</md-icon>
            <p>About</p>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>

    <md-content layout="column" flex layout-fill md-swipe-right="swipeRight($event)" class="md-primary md-hue-1 displayFrame">
      <md-toolbar class="md-primary md-whiteframe-z4">
        <div class="md-toolbar-tools">
          <md-button hide-gt-md ng-click="toggleSidenav('main')" id="menuBtn" class="md-icon-button">
            <md-icon md-font-library="material-icons md-32">menu</md-icon>
          </md-button>
          {{ pageTitle }}

          <span flex></span>

          <md-button class="md-raised md-accent md-hue-2" ng-click="userForm($event)">登陆</md-button>
        </div>
      </md-toolbar>

      <md-content class="cards md-primary md-hue-1" layout-padding content-include="{{contentPath}}" content-callback="contentUpdated()">
      </md-content>
    </md-content>
  </body>
</html>
