body, button, input, select, textarea {
  font-size: 14px;
  font-family: RobotoDraft, Roboto, "Noto Sans CJK SC", "Lucida Grande", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

a {
  color: #00B7FF;
}

#menuBtn {
  margin-right: 16px;
}

/* Login form */
.login-dialog {
  width: 340px;
}
.login-dialog md-dialog-content {
  padding: 0;
}

.login-dialog .md-subheader {
  margin: 0;
}

.login-dialog .md-subheader-inner {
  padding: 20px 0 20px 20px;
}

.login-dialog .md-actions {
  padding: 0 6px;
}

.login-dialog .register-label {
  padding-left: 4px;
}

.login-dialog md-list {
  padding: 0;
}

.login-dialog md-input-container {
  padding: 2px 18px 26px;
}
